.staff-note {
    .panel-heading {
        position: absolute;
        width: 100%;
        visibility: hidden;
        z-index: 99;
    }
    &:hover .panel-heading {
        visibility: visible;
    }

    .panel-body {
        width: 400px;
    }
}
